body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: calc(100vw - 32px);
  min-height: calc(100vh - 203px);
}

.button {
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  color: #fff;
  background: #3C6997;
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #000;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #094074;
  color: #094074;
  background: #fff;
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input, textarea {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

button {
  cursor: pointer;
  &:focus {
      outline: none;
  }
}

h1, h2, h3, h4, h5, h6, p, hr, ul, ol {
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;
}